extends ../layouts/main.pug

block style
  style.
    .main-bg {
      background-image: url('/img/background/administrador.jpg');
    }

block content
  .container.mt-4
    h1.text-center.mb-4 Listado de Admisiones
    if admisiones.length
      table.table.table-striped.table-bordered
        thead
          tr
            th Fecha
            th Paciente
            th DNI
            th Recepcionista
            th Motivo
            th Estado
            th Acciones
        tbody
          each admision in admisiones
            tr
              td= admision.fecha
              td= admision.paciente
              td= admision.dni
              td= admision.recepcionista
              td= admision.motivo
              td
                span.badge(class=admision.estado === 'Activa' ? 'bg-success' : 'bg-secondary')
                  | #{admision.estado}
              td
                button.btn.btn-danger.btn-sm(type="button" onclick=`confirmarEliminacion(this, '${admision.id}')`)
                  i.bi.bi-trash
                  | Eliminar
    else
      .alert.alert-info No hay admisiones registradas.
block scripts
  script(src="/javascripts/eliminarAdmision.js")
