extends ../layouts/main.pug

block style
  style.
    .main-bg {
      background-image: url('/img/background/administrador.jpg');
    }
block content

        h1.text-center.mb-4 Listado de Profesionales
        .table-responsive
            table.table.table-striped.table-hover.table-bordered
                thead.bg-dark.text-white
                    tr
                        th(scope="col") ID
                        th(scope="col") Nombre
                        th(scope="col") DNI
                        th(scope="col") Fecha de Nacimiento
                        th(scope="col") Género
                        th(scope="col") Teléfono
                        th(scope="col") Dirección
                        th(scope="col") Especialidad
                        
                tbody
                    each persona in personas
                        tr
                            td= persona.id
                            td= persona.nombre
                            td= persona.dni
                            td= persona.fecha_nacimiento
                            td= persona.genero
                            td= persona.telefono
                            td= persona.direccion
                            td= persona.especialidad