extends ../layouts/main.pug

block style
    style.
        .main-bg {
            background-image: url('/img/background/administrador.jpg');
        }

block content
    h2.text-center.mb-4 Buscar una persona para asignarle su rol.
    form(action="/profesional/resultado" method="POST")
        .row.g-3
            .col-md6 
                label.form-label(for="dni") Ingrese el DNI
                input.form-control(
                    type="text" 
                    name="dni" 
                    id="dni" 
                    placeholder="Ingrese el DNI"
                    value= dni || ''
                    required
                    autofocus
                )
            .col-12.text-center
                button.btn.btn-primary.btn-lg(type="submit") Buscar
        if error
            .alert.alert-danger.mt-3 #{error}

block scripts
    script(src="/javascripts/buscarProfesional.js")