extends ../layouts/main.pug

block style
  style.
    .main-bg {
      background-image: url('/img/background/administrador.jpg');
    }
block content

        h1.text-center.mb-4 Listado de Usuarios
        .table-responsive
            table.table.table-striped.table-hover.table-bordered
                thead.bg-dark.text-white
                    tr
                        th(scope="col") ID
                        th(scope="col") Nombre
                        th(scope="col") Apellido
                        th(scope="col") DNI
                        th(scope="col") Fecha de Nacimiento
                        th(scope="col") Género
                        th(scope="col") Teléfono
                        th(scope="col") Dirección
                        th(scope="col") Rol
                        
                tbody
                    each user in users
                        tr
                            td= user.id
                            td= user.nombre
                            td= user.apellido
                            td= user.dni
                            td= user.fechaNacimiento
                            td= user.genero
                            td= user.telefono
                            td= user.direccion
                            td= user.rol
                           
