extends ../layouts/main.pug

block style
  style.
    .main-bg {
      background-image: url('/img/background/administrador.jpg');
    }
    
block content
  .container.mt-4
    h2 Actualizar Datos de Emergencia
    form(method="POST", action=`/emergencias/${internacionId}/actualizar-datos`)
      if error
        .alert.alert-danger.mt-3 #{error}
      br
      h4 Datos de Persona
      .row.g-3
        .col-md-6
          label(for="dni") DNI:
          input.form-control(
            type="text", 
            name="dni", 
            id="dni", 
            required, 
            value=(persona && persona.dni) ? persona.dni : '')
          button#buscarDNI.btn.btn-info(type="button") Buscar
        .col-md-6
          label(for="nombre") Nombre:
          input.form-control(
            type="text", 
            name="nombre", 
            id="nombre", 
            required, 
            value=(persona && persona.nombre) ? persona.nombre : '')
      .row.g-3
        .col-md-6
          label(for="fecha_nacimiento") Fecha de Nacimiento:
          input.form-control(
            type="date", 
            name="fecha_nacimiento", 
            id="fecha_nacimiento", 
            required, 
            value=(persona && persona.fecha_nacimiento) 
              ? new Date(persona.fecha_nacimiento).toISOString().substring(0,10) 
              : '')
        .col-md-6
          label(for="genero") Género:
          select.form-control(name="genero", id="genero")
            option(value="M", selected=(persona && persona.genero==='M')) Masculino
            option(value="F", selected=(persona && persona.genero==='F')) Femenino
            option(value="O", selected=(persona && persona.genero==='O')) Otro
      .row.g-3
        .col-md-6
          label(for="telefono") Teléfono:
          input.form-control(
            type="text", 
            name="telefono", 
            id="telefono", 
            required, 
            value=(persona && persona.telefono) ? persona.telefono : '')
        .col-md-6
          label(for="direccion") Dirección:
          input.form-control(
            type="text", 
            name="direccion", 
            id="direccion", 
            required, 
            value=(persona && persona.direccion) ? persona.direccion : '')
      .row.g-3
        .col-md-6
          label(for="email") Email:
          input.form-control(
            type="email", 
            name="email", 
            id="email", 
            required, 
            value=(persona && persona.email) ? persona.email : '')
        .col-md-6
          label(for="confirm_email") Confirmar Email:
          input.form-control(
            type="email", 
            name="confirm_email", 
            id="confirm_email", 
            required, 
            value=(persona && persona.email) ? persona.email : '')
      // Botón para habilitar la edición de los datos de persona (inicialmente oculto)
      button#editarPersona.btn.btn-warning(type="button", style="display: none;") Editar Datos Persona
      br
      h4 Datos de Paciente
      .row.g-3
        .col-md-6
          label(for="contacto_emergencia") Contacto de Emergencia:
          input.form-control(
            type="text", 
            name="contacto_emergencia", 
            id="contacto_emergencia", 
            required,
            value=(paciente && paciente.contacto_emergencia) ? paciente.contacto_emergencia : '')
        .col-md-6
          label(for="obra_social_id") Obra Social:
          select.form-control(name="obra_social_id", id="obra_social_id")
            each os in obrasSociales
              option(
                value=os.id, 
                selected=(paciente && paciente.obra_social_id == os.id) ? true : false
              )= os.nombre
      br
      h4 Datos de Admisión
      .row.g-3
        .col-md-6
          label(for="recepcionista_id") Recepcionista:
          select.form-control(name="recepcionista_id", id="recepcionista_id")
            each rec in recepcionistas
              option(
                value=rec.id, 
                selected=(internacion.admision && internacion.admision.recepcionista_id == rec.id) ? true : false
              )= rec.persona.nombre
        .col-md-6
          label(for="motivo_id") Motivo:
          select.form-control(name="motivo_id", id="motivo_id")
            each mod in motivos
              option(
                value=mod.motivo_id, 
                selected=(internacion.admision && internacion.admision.motivo_id == mod.motivo_id) ? true : false
              )= mod.descripcion
      br
      button.btn.btn-primary.w-100.mx-auto.d-block(type="submit") Actualizar Datos
    a.btn.btn-secondary.w-100.mx-auto.d-block.mt-3(href=`/internaciones/${internacionId}`) Volver al detalle

block scripts
  script(src="/javascripts/actualizarDatos.js")
    
