extends ../layouts/main.pug

block style
  style.
    .main-bg {
      background-image: url('/img/background/administrador.jpg');
    }

block content
  h2.text-center.mb-4 Registrar Persona
  form( action= editar
    ? `/persona/editar/${values.id}`
    : '/persona/nuevo'
  method="POST")
    .row.g-3
      // Nombre - Apellido
      .col-md-6
        label(for="nombre") Nombre Completo
        input.form-control#nombre(type="text" name="nombre" placeholder="Nombre" value= values ? values.nombre : '' required)

      // DNI
      .col-md-6
        label(for="dni") DNI
        input.form-control#dni(
          type="text"
          name="dni"
          placeholder="DNI"
          value= values ? values.dni : ''
          required
          readonly=editar ? true : false
        )

      // Fecha de Nacimiento - Género
      .col-md-6
        label(for="fechaNacimiento") Fecha de Nacimiento
        input.form-control#fechaNacimiento(type="date" name="fecha_nacimiento" value= values ? values.fecha_nacimiento : '' required)
      .col-md-6
        label(for="genero") Género
        select.form-select#genero(name="genero" required)
          option(value="" disabled selected=!(values && values.genero)) Género
          option(value="M" selected=(values && values.genero === 'M')) Masculino
          option(value="F" selected=(values && values.genero === 'F')) Femenino
          option(value="O" selected=(values && values.genero === 'O')) Otro

      // Teléfono - Dirección
      .col-md-6
        label(for="telefono") Teléfono
        input.form-control#telefono(type="tel" name="telefono" placeholder="Teléfono" value= values ? values.telefono : '' required)
      .col-md-6
        label(for="direccion") Dirección
        input.form-control#direccion(type="text" name="direccion" placeholder="Dirección" value= values ? values.direccion : '' required)

      // Email
      .col-md-6
        label(for="email") Email
        input.form-control#email(type="email" name="email" placeholder="@gmail" value= values ? values.email : '' required)
      .col-md-6
        label(for="confirmalEmail") Confirmar Email
        input.form-control#confirmalEmail(type="email" name="confirmarEmail" placeholder="@gmail" value= values ? values.confirmarEmail : '' required)

      // Botón de Envío
      .col-12.text-center
        button.btn.btn-primary.btn-lg(type="submit") #{ editar ? 'Actualizar' : 'Registrar'}
        if error
          .alert.alert-danger.mt-3 #{error}
