extends ../layouts/main.pug

block style
  style.
    .main-bg {
      background-image: url('/img/background/administrador.jpg');
    }
    
block content
  .container.mt-4
      h1.text-center.mb-4 Listado de Pacientes Internados
      if pacientes.length
        table.table.table-striped.table-bordered
          thead
            tr
              th Nombre
              th DNI
              th Telefono
              th Obra Social
              th Contacto Emergencia
              th Sala
              th Habitación
              th Cama
          tbody
            each paciente in pacientes
              tr
                td #{ paciente.nombre }
                td #{ paciente.dni }
                td #{ paciente.telefono}
                td #{ paciente.obra_social }
                td #{ paciente.contacto_emergencia }
                td #{ paciente.sala }
                td #{ paciente.habitacion }
                td #{ paciente.cama }
                
      else
        .alert.alert-info No hay pacientes internados en este momento.
                           
